wc-chat-reactions { /* stylelint-disable selector-type-no-unknown */
  --reaction-count-left: 0;
}

.avatar {
  background: no-repeat center center;
  background-color: var(--message-avatar-color-moderator, transparent);
  background-size: contain;
  border-radius: 100%;
  display: inline-block;
  height: 32px;
  margin-right: 8px;
  overflow: hidden;
  user-select: none;
  vertical-align: top;
  width: 32px;
}

.avatar.moderator {
  background-color: var(--message-avatar-color, transparent);
}

.message {
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 16px;
  max-width: 80%;
  max-width: 55% !important;
  padding: 8px 22px 8px 14px;
  position: relative;
  text-align: left;
}

.message-block.deleted .message {
  background: rgba(0, 0, 0, 0.04);
}

.message-block.deleted .avatar,
.message-block.deleted .message {
  filter: grayscale(75%);
}

.message-meta {
  margin-bottom: 5px;
  user-select: none;
}

.message-line {
  line-height: 1.25em;
  margin: 0;
  margin-bottom: 12px;
}

.message-line:last-child {
  margin-bottom: 0;
}

.message-status {
  margin-bottom: 3px;
}

.message-stamp,
.message-status {
  color: var(--message-status-color, var(--silver, #b8b8b8));
  font-size: 0.75em;
}

.message-author {
  font-weight: bold;
  margin-right: 8px;
}

.message.moderator {
  background-color: rgba(255, 114, 86, 0.08);
}

.message.me {
  background-color: rgba(72, 161, 230, 0.08);
}
