wc-chat-reactions { /* stylelint-disable selector-type-no-unknown */
  --reaction-count-left: 0;
}

:root {
  --chat-message-avatar-size: 32px;
  --chat-message-avatar-margin: 8px;
  --chat-message-border-radius: 5px;
  --chat-message-margin-between: 16px;
  --chat-message-color-me: var(--cornflowerBlue, #ebf2f7);
  --chat-message-color-watchdog: var(--whiteLinen, #faefeb);
  --chat-message-color-deleted: var(--gallery, #eee);
}

.avatar {
  background: no-repeat center center;
  background-color: var(--message-avatar-color-moderator, transparent);
  background-size: contain;
  border-radius: 100%;
  float: left;
  height: var(--chat-message-avatar-size);
  margin-right: var(--chat-message-avatar-margin);
  overflow: hidden;
  user-select: none;
  vertical-align: top;
  width: var(--chat-message-avatar-size);
}

.avatar.moderator {
  background-color: var(--message-avatar-color, transparent);
}

.content {
  background-color: #fff;
  border-radius: var(--chat-message-border-radius);
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 22px 8px 14px;
  text-align: left;
  width: calc(100% - var(--chat-message-avatar-size) - var(--chat-message-avatar-margin));
}

.content.moderator {
  background-color: var(--chat-message-color-watchdog);
}

.content.me {
  background-color: var(--chat-message-color-me);
}

.message:last-child {
  margin-bottom: var(--chat-message-margin-between);
}

.message + .message:not(.aggregated) {
  margin-top: var(--chat-message-margin-between);
}

.message.aggregated {
  margin-top: calc(-1 * var(--chat-message-border-radius));
}

.message.aggregated .avatar {
  height: 1px;
  visibility: hidden;
}

.message.aggregated .content {
  border-radius: 0 0 var(--chat-message-border-radius) var(--chat-message-border-radius);
}

.message.deleted .content {
  background: var(--chat-message-color-deleted);
}

.message.deleted .avatar,
.message.deleted .content {
  filter: grayscale(75%);
}

.message-meta {
  margin-bottom: 5px;
  user-select: none;
}

.message.aggregated .message-meta {
  display: none;
}

.message-line {
  line-height: 1.25em;
  margin: 0;
  margin-bottom: 12px;
}

.message-line:last-child {
  margin-bottom: 0;
}

.message-status {
  margin-bottom: 3px;
}

.message-stamp,
.message-status {
  color: var(--message-status-color, var(--silver, #b8b8b8));
  font-size: 0.75em;
}

.message-author {
  font-weight: bold;
  margin-right: 8px;
}
