:host {
  box-sizing: var(--chat-scrollable-box-sizing, content-box);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--chat-scrollable-padding, 0);
}

:host .scrollable {
  flex: 1 1 auto;
  overflow-y: scroll;
}

:host .scrollable .inner {
  min-height: 100%;
}
