@font-face {
  font-family: 'Circe';
  font-weight: normal;
  src: url('./fonts/Circe-Regular.eot');
  src:
    local('Circe-Regular'),
    url('./fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Circe-Regular.ttf') format('truetype'),
    url('./fonts/Circe-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Circe';
  font-weight: bold;
  src: url('./fonts/Circe-Bold.eot');
  src:
    local('Circe-Bold'),
    url('./fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Circe-Bold.ttf') format('truetype'),
    url('./fonts/Circe-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Circe';
  font-weight: 100;
  src: url('./fonts/Circe-Light.eot');
  src:
    local('Circe-Light'),
    url('./fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Circe-Light.ttf') format('truetype'),
    url('./fonts/Circe-Light.otf') format('opentype');
}

body {
  font-family: Circe, sans-serif;
}
