.actions {
  cursor: default;
  display: flex;
  flex-direction: row;
  line-height: 18px;
  opacity: 0;
  position: absolute;
  right: 0;
  right: 14px;
  text-align: center;
  top: -10px;
  transform: translateX(89%);
  transition: all ease-out 0.7s;
  z-index: 100;
}

.action-group {
  border-color: #b8b8b8;
  color: #b8b8b8;
  position: relative;
  text-align: left;
  user-select: none;
}

.action-group:hover {
  border-color: var(--action-group-border-color-hover, var(--theme-color-pictonblue, #48a1e6));
  color: var(--action-group-color-hover, var(--theme-color-pictonblue, #48a1e6));
}

.action-group > span {
  background-color: var(--bg-color, var(--theme-color-white, #fff));
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 15px;
  height: 24px;
  letter-spacing: 0.1px;
  line-height: 17px;
  text-align: center;
  width: 22px;
}

.action-subgroup {
  cursor: pointer;
  margin-left: -1px;
  opacity: 0;
  padding-top: 1px;
  transition: all ease-out 0.5s;
}

.action-group:hover .action-subgroup {
  opacity: 1;
  transform: translateY(2px);
  z-index: 300;
}

.action-subgroup-inner {
  background: no-repeat center center var(--bg-color, var(--theme-color-white, #fff));
  border: 1px solid #c6e6ff;
  border-radius: 5px;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
}

.action-subgroup-item {
  border: none;
  cursor: pointer;
  height: 39px;
  margin: 1px;
  outline: none;
  padding: 0;
  width: 39px;
}

.action-subgroup-item:disabled {
  cursor: not-allowed;
}

.action-subgroup-item #delete {
  padding: 12px;
}

.action-subgroup-item #warning {
  padding: 13px;
}

.action-subgroup-item > svg {
  padding: 10px;
}

.action-subgroup-item > svg path {
  display: inline-block;
  fill: var(--subgroup-fill-color, var(--theme-color-silver, #b8b8b8));
}

.action-subgroup-item:hover > svg path {
  fill: var(--subgroup-fill-color-hover, var(--theme-color-pictonblue, #48a1e6));
}

/* client styles */

.action-group-reactions,
.action-group-reactions:hover {
  border-color: #b8b8b8 !important;
  color: #b8b8b8 !important;
}

.action-group > * {
  left: -1px;
  position: relative;
  z-index: 0;
}

.action-group *:hover {
  z-index: 100 !important;
}

.action-group:first-child > * {
  left: 0 !important;
}

.action-group > *:hover {
  border-color: var(--action-group-border-color-hover, var(--theme-color-pictonblue, #1682d7));
  color: var(--action-group-color-hover, var(--theme-color-pictonblue, #1682d7));
}

.action-group:nth-child(2) span {
  border-radius: 0 5px 5px 0;
}

.action-group:nth-child(2):hover span {
  border-color: inherit;
  border-radius: 0 5px 5px 0;
  color: inherit;
}

.message:hover .actions {
  opacity: 1;
  transform: translateX(90%);
}

.reaction-add {
  background: center center no-repeat;
  background-color: #fff;
  border: 1px solid;
  border-color: inherit;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: block;
  height: 24px;
  line-height: 17px;
  outline: none;
  padding: 0;
  text-align: center;
  user-select: none;
  width: 32px;
}

.reaction-add.disabled {
  border-color: #b8b8b8;
  color: #b8b8b8;
  cursor: not-allowed;
}

.reaction-add.standalone {
  border-radius: 5px;
}

.reaction-add:hover:not(.disabled) svg path {
  fill: var(--action-group-color-hover, var(--theme-color-pictonblue, #1682d7));
}

.reaction-add svg {
  height: inherit;
  position: relative;
  top: -1px;
}
