/* stylelint-disable selector-type-no-unknown */
iron-autogrow-textarea {
  -webkit-appearance: none;
  background: var(--bg-color, var(--theme-color-white, #fff));
  border: 1px solid var(--border-color, var(--theme-color-alto, #d4d4d4));
  border-radius: 5px;
  box-sizing: border-box;
  caret-color: var(--caret-color, var(--theme-color-pictonblue, #48a1e6));
  font-size: var(--font-size, var(--theme-font-size, 16px));
  height: inherit;
  line-height: 1.2em;
  min-height: 52px;
  outline: none;
  -ms-overflow-style: none;
  width: 100%;

  --iron-autogrow-textarea: {
    box-sizing: border-box;
    padding: 16px 70px 14px 20px;
  };

  --iron-autogrow-textarea-placeholder: {
    color: var(--ph-color, var(--theme-color-alto, #d4d4d4));
  };
}

iron-autogrow-textarea:hover {
  border-color: var(--border-color-hover, var(--theme-color-silver, #b8b8b8));
}

iron-autogrow-textarea:focus-within {
  border-color: var(--border-color-focus, var(--theme-color-pictonblue, #48a1e6));
}
