/* :root, */
:host{
  display:block;
  width:100%;
  position: var(--chat-input-position, relative);
  bottom: var(--chat-input-bottom, initial);
}

.input {
  width: 100%;
  bottom: 0;
  padding: 0 20px 20px;
  background: var(--alabaster, #f8f8f8);
  box-sizing: border-box;
  font-size: 16px;
}

.input.disabled{
  color: var(--silver, #b8b8b8);
}

.input > * {
  line-height: 0;
  position: relative;
}

.enter {
  background: no-repeat center center;
  border: none;
  bottom: 14px;
  cursor: pointer;
  height: 24px;
  outline: none;
  padding: 0;
  position: absolute;
  right: 18px;
}

.enter:active:not(:disabled) {
  transform: translateY(1px);
}
