.messages {
  width: 93%;
  height: 87%;
  padding-top:20px;
  padding-left:20px;
  box-sizing: border-box;
  font-size: var(--messages-font-size, inherit);
}

.messages {
  overflow-y: auto !important;
}

.action-subgroup-item.lock.disabled {
  cursor: not-allowed;
}
.action-subgroup-item.lock.allowed {
  cursor: pointer !important;
}

.action-subgroup-item.lock svg {
  padding: 10px 12px;
}

.action-subgroup-item.lock svg path {
  fill: #b8b8b8;
}

.action-subgroup-item.lock:hover svg path,
.action-subgroup-item.lock.disabled svg path
{
  fill: #48a1e6;
}

.reactions{
  margin-top: 10px;
}
