:root {
  --messages-width: var(--chat-messages-list-width, 100%);
  --messages-height: var(--chat-messages-list-height, 100%);
}

:host {
  height: var(--chat-messages-height, inherit);
}

.messages {
  box-sizing: border-box;
  font-size: var(--messages-font-size, inherit);
  height: var(--messages-height);
  padding: 20px;
  width: var(--messages-width);
}

.separator-ph {
  position: relative;
}
