:host {
  box-sizing: var(--chat-scrollable-box-sizing, content-box);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--chat-scrollable-padding, 0);
}

:host .wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0;
  position: relative;
}

:host .wrapper .scrollable {
  flex: 1 1 auto;
  overflow-y: scroll;
}

:host .wrapper .banner {
  border-radius: 5px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  left: 0;
  padding: 8px 40px 8px 16px;
  position: absolute;
  right: 0;
  transition: 0.25s ease-in opacity;
  user-select: none;
}

:host .wrapper .banner.inactive {
  opacity: 0;
  z-index: -1;
}

:host .wrapper .banner.top {
  top: 5px;
}

:host .wrapper .banner.bottom {
  bottom: 5px;
}

:host .wrapper .banner.new {
  background: #48a1e6;
}

:host .wrapper .banner.recent {
  background: #b8b8b8;
}

:host .wrapper .banner::before {
  background: transparent url('../images/arrow-down.svg') center center no-repeat;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  right: 16px;
  top: 0;
  width: 16px;
}

:host .wrapper .banner.reverse::before {
  transform: rotate(180deg);
}

:host .row {
  align-items: center;
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
}
